header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #002d75;
    ul {
        display: flex;
        list-style: none;
        li {
            margin: 20px;
            a {
                text-decoration: none;
            }
        }
    }
}
